@page
@model PyzaFinder.Pages.DetailsModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Styles {
    <link rel="stylesheet" href="~/css/Details.css" />
    <link rel="stylesheet" href="~/css/fontello/css/fontello.css" type="text/css" />
    <script src="~/js/oLayers/OpenLayers.js"></script>
    <script src="~/js/oLayers/myInit.js"></script>
    <script src="~/js/oLayers/myMarkersCloud.js"></script>
}

<div class="czesci" style="width: 29%">


    <div class="text-center">
        <img src="~/img/pyzunia.png" style="height: 150px; width: 150px; border-radius: 90px;" />
        <br />

        <a href="@Model.Link.PageLink" id="stronka">Restaurant's main page </a>
        <h5>INFORMATION</h5> <br />
        Phone: @Model.DumplingRestaurant.PhoneNumber<br />
        Adress: @Model.DumplingRestaurant.Address <br/>
        Opening hours <br />
        Monday: @Model.Schedule.Monday<br />
        Tuesday: @Model.Schedule.Tuesday<br />
        Wednesday: @Model.Schedule.Wednesday<br />
        Thursday: @Model.Schedule.Thursday<br />
        Friday: @Model.Schedule.Friday<br />
        Saturday: @Model.Schedule.Saturday<br />
        Sunday: @Model.Schedule.Sunday<br />
        <i class="icon-facebook-squared" style="display:inline-block;"></i>
        <i class="icon-instagram" style="display:inline-block;"></i>
    </div>

</div>
<div class="czesci" style="width: 35%">
    <div class="text-center">
        <img src="~/img/pyzunia.png" style="width: 250px; height: 200px;" />
        <a asp-page="Map" id="stronka">Back to map</a>
        </div>
    </div>
    <div class="czesci" style="width: 35%">
        <div class="text-center">
            <h3> @Model.DumplingRestaurant.Name </h3>
            <h5> ABOUT THE RESTAURANT </h5> <br />
            @Model.DumplingRestaurant.Description <br />

            <a asp-page="Gallery" asp-route-id="@Model.DumplingRestaurant.IdRestaurant" id="stronka">Restaurant's gallery</a>
        </div>

    </div>
    <div id="pyza" style="height:150px;">
        <img src="~/img/pyzunia.png">
    </div>

